/* GENERAL BODY */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(black, #001f3f, #003366);
  color: white;
}

/* HEADER WITH LOGO */
header {
  text-align: center;
  padding: 70px 20px;

  background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)),
    url("logo.png"),
    linear-gradient(black, #001f3f, #00bfff);

  background-size: contain, cover, cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* COMPANY NAME */
header h1 {
  margin: 0;
  font-size: 34px;
  color: white;
  letter-spacing: 1px;

  text-shadow:
    0 0 10px rgba(0,0,0,0.8),
    0 0 15px gold,
    0 0 20px #00bfff;
}

/* TAGLINE */
header p {
  margin-top: 8px;
  font-size: 15px;
  color: #e6f7ff;
  text-shadow: 0 0 5px black;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: center;
  background: black;
  border-bottom: 2px solid #00bfff;
}

nav a {
  color: gold;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  background: #00bfff;
  color: black;
  border-radius: 5px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-size: 26px;
  color: #00bfff;
}

.hero p {
  color: #d9f2ff;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: linear-gradient(gold, #00bfff);
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: linear-gradient(#00bfff, gold);
  transform: scale(1.05);
}

/* SECTIONS */
section {
  padding: 50px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  color: gold;
}

/* SERVICES LIST */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  color: #e6f7ff;
}

/* SLIDER CONTAINER */
.slider {
  width: 90%;
  max-width: 700px;
  margin: 30px auto;
}

/* SLIDES */
.slide {
  width: 100%;
  max-height: 350px;
  object-fit: contain;
  display: none;
  border-radius: 12px;
  background: black;
  box-shadow: 0 0 15px #00bfff;
}

/* ACTIVE IMAGE */
.active {
  display: block;
}

/* CONTACT */
#contact p {
  color: #b3ecff;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: linear-gradient(black, #001f3f);
  margin-top: 20px;
  color: #ccc;
}